<!-- Make sure you're using the async pipe with todos$ -->
<div *ngIf="tasks$ | async as tasks">
  <div *ngFor="let task of tasks" class="task-item">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <button (click)="deleteCurrentUserTask(task.id)">Delete</button>
  </div>
</div>

<!-- If calling create method from template, pass individual parameters -->
<button (click)="createTaskForCurrentUser('New Task', 'Task description')">
  Add Task
</button>

<!-- Or if using a form -->
<form (submit)="createTaskForCurrentUser(title.value, description.value)">
  <input #title placeholder="Title">
  <input #description placeholder="Description">
  <button type="submit">Add</button>
</form>