<div class="auth">
    <div class="container">
        <div class="logo-section">
            <div class="logo-placeholder">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="header-text"></div>
        </div>

        <div class="tab-buttons">
            <button class="tab-btn" (click)="changeForm('signin')" [ngClass]="{'active': isSigninForm() }" >Sign In</button>
            <button class="tab-btn" (click)="changeForm('signup')" [ngClass]="{'active': !isSigninForm()}" >Sign Up</button>
        </div>

        <div class="form-container">
            <form [formGroup]="signupForm" class="form"[ngClass]="{'active': !isSigninForm() }" id="signupForm" (ngSubmit)="signup()">
                <div class="input-group">
                    <input type="text" formControlName="displayName" placeholder="Name" required>
                    <i class="fas fa-user"></i>
                </div>
                <div class="input-group">
                    <input type="email" formControlName="email" placeholder="Email" required>
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="input-group">
                    <input type="password" formControlName="password" placeholder="Password" required>
                    <i class="fas fa-key"></i>
                </div>
                <button type="submit" class="submit-btn">Sign Up</button>
            </form>

            <form [formGroup]="signinForm" class="form" [ngClass]="{'active': isSigninForm() }" id="signinForm" (ngSubmit)="signin()">
                <div class="input-group">
                    <input type="email" formControlName="email" placeholder="Email" required>
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="input-group">
                    <input type="password" formControlName="password" placeholder="Password" required>
                    <i class="fas fa-key"></i>
                </div>
                <button type="submit" class="submit-btn">Sign In</button>
            </form>
        </div>

        <div class="divider" style="display: none;">You can also sign up with</div>
        
        <div class="social-login" style="display: none;">
            <button class="social-btn" aria-label="Sign in with Twitter">
                <i class="fab fa-twitter"></i>
            </button>
            <button class="social-btn" aria-label="Sign in with Facebook">
                <i class="fab fa-facebook-f"></i>
            </button>
        </div>
    </div>
</div>

